<div *ngIf="show">
  <mat-expansion-panel *ngFor="let room of rooms">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{room.name}}
      </mat-panel-title>
      <mat-panel-description>
        Press for more info
      </mat-panel-description>
    </mat-expansion-panel-header>

    Players: {{room.users}}
    <span style="text-align: right"> If you want to join please press the button
      <button mat-button (click)="joinRoom(room.id)"> Join</button>
    </span>


  </mat-expansion-panel>
</div>
