<div id="container">
  <nav>
    <button mat-button (click)="onReceiveMessage('login')"> login</button>
    <button mat-button (click)="onReceiveMessage('selectRoom')"> select room</button>
    <button mat-button (click)="onReceiveMessage('lobby')"> lobby</button>
    <button mat-button (click)="onReceiveMessage('gameSession')"> gameSession</button>
  </nav>
  <app-login-form></app-login-form>
  <app-select-room></app-select-room>
  <app-room-lobby></app-room-lobby>
  <app-game-session></app-game-session>
</div>
