<div *ngIf="show">
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" [(ngModel)]="username">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" [(ngModel)]="password">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="right-align">
        <button mat-raised-button (click)="login()">Login</button>
      </td>
    </tr>
  </table>
  <app-signin></app-signin>
</div>
